.box {
    width: 100px;
    height: 100px;
}

.green {
    background-color: green;
    align-self: flex-end;
}

.blue {
    background-color: blue;

}

.red {
    background-color: red;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 200px;
}
